<template #createModal let-c="close">
    <div class="modal-header">
        <span class="pull-right">
            <a class="glyphicon glyphicon-remove" (click)="c()"></a>
        </span>
        <h2>{{create.title}}</h2>
    </div>
    <div class="modal-body">
        <ms-create-task [clinic]="clinic" #create (submit)="c();"></ms-create-task>
    </div>
</template>
<div class="container">
    <legend>Create a Clinic</legend>
    <div *ngIf="submitted && !successful" id="submitErrorAlert" class="alert alert-danger fadeIn text-center"> 
        There was an error submitting this clinic. Unable to create a clinic at this time.
    </div>
    <form (ngSubmit)="onSubmit()" #clinicCreateForm="ngForm">
        <div class="form-group">
            <label for="name">Clinic Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="clinic.name" name="name" #name=ngModel>
        </div>
        <br>
        <div class="form-group"> 
            <label>Tasks</label>
            <table class="table table-bordered table-condensed">
                <colgroup>
                    <col>
                    <col style="background-color: #EAE2BD">
                    <col style="background-color: #CFCFCF" span="2">
                    <col style="background-color: #EAE2BD" span="3">
                    <col style="background-color: #CFCFCF" span="4">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th nowrap="nowrap">1 Staff</th>
                        <th nowrap="nowrap" colspan="2">2 Staff</th>
                        <th nowrap="nowrap" colspan="3">3 Staff</th>
                        <th nowrap="nowrap" colspan="4">4 Staff</th>
                        <th>How Often</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr style="border-bottom: 2px;">
                        <th></th>
                        <!-- 1 Staff -->
                        <th>MA1</th>
                        <!-- 2 Staff -->
                        <th>MA1</th>
                        <th>MA2</th>
                        <!-- 3 Staff -->
                        <th>MA1</th>
                        <th>MA2</th>
                        <th>MA3</th>
                        <!-- 4 Staff -->
                        <th>MA1</th>
                        <th>MA2</th>
                        <th>MA3</th>
                        <th>Front Desk</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <template ngFor let-item [ngForOf]="clinic.taskLists">
                        <tr>
                            <td colspan="14" style="text-align: left"><strong>{{item.category}}</strong></td>
                        </tr>
                        <tr *ngFor="let task of item.getTasks()">
                            <template #editModal let-c="close">
                                <div class="modal-header">
                                    <span class="pull-right">
                                        <a class="glyphicon glyphicon-remove" (click)="c()"></a>
                                    </span>
                                </div>
                                <div class="modal-body">
                                    <ms-create-task [clinic]="clinic" [task]="task" #edit (submit)="c();"></ms-create-task>
                                </div>
                            </template>
                            <td>{{task.description}}</td>
                            <td><span *ngIf="task.staff1[0]">X</span></td>
                            <td><span *ngIf="task.staff2[0]">X</span></td>
                            <td><span *ngIf="task.staff2[1]">X</span></td>
                            <td><span *ngIf="task.staff3[0]">X</span></td>
                            <td><span *ngIf="task.staff3[1]">X</span></td>
                            <td><span *ngIf="task.staff3[2]">X</span></td>
                            <td><span *ngIf="task.staff4[0]">X</span></td>
                            <td><span *ngIf="task.staff4[1]">X</span></td>
                            <td><span *ngIf="task.staff4[2]">X</span></td>
                            <td><span *ngIf="task.staff4[3]">X</span></td>
                            <td></td>
                            <td><a (click)="openModal(editModal)"><i class="fa fa-pencil"></i></a></td>
                            <td><a (click)="clinic.removeTask(task)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <span><a (click)="openModal(createModal)">Add task...</a></span>
        </div>
        <br>
        <button type="submit" class="btn btn-default" [disabled]="!clinicCreateForm.form.valid">Submit</button>
    </form>
</div>