<template #createModal let-c="close">
    <div class="modal-header">
        <span class="pull-right">
            <a class="glyphicon glyphicon-remove" (click)="c()"></a>
        </span>
        <h2>{{create.title}}</h2>
    </div>
    <div class="modal-body">
        <ms-create-task [clinic]="clinic" #create (submit)="c();"></ms-create-task>
    </div>
</template>
<div class="container">
    <legend>Create a Clinic</legend>
    <div *ngIf="submitted && !successful" id="submitErrorAlert" class="alert alert-danger fadeIn text-center"> 
        There was an error submitting this clinic. Unable to create a clinic at this time.
    </div>
    <form (ngSubmit)="onSubmit()" #clinicCreateForm="ngForm">
        <div class="form-group">
            <label for="name">Clinic Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="clinic.name" name="name" #name=ngModel>
        </div>
        <br>
        <div class="form-group"> 
            <label>Tasks</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>1 Staff</th>
                        <th>2 Staff</th>
                        <th>3 Staff</th>
                        <th>4 Staff</th>
                        <th>How Often</th>
                    </tr>
                    <tr>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of clinic.tasks">
                        <td>{{task.category}}</td>
                        <td>{{task.description}}</td>
                    </tr>
                </tbody>
            </table>
            <span><a (click)="openCreateModal(createModal)">Add task...</a></span>
        </div>
        <br>
        <button type="submit" class="btn btn-default" [disabled]="!clinicCreateForm.form.valid">Submit</button>
    </form>
</div>