<div class="container">
    <h2 class="text-center">Today is {{taskList?.date}}</h2>
    <div *ngIf="taskList != null">
        <div *ngIf="taskList.clinic == null">
          <div class="col-xs-7 col-xs-offset-3 form-group text-center">
            <select class="form-control" [(ngModel)]="taskList.clinic" name="clinicSelect">
              <option [ngValue]="null" selected>Please Select a Clinic</option>
              <option *ngFor="let c of clinics; trackBy: trackByFn" [ngValue]="c">{{c.name}}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <a [routerLink]="['/clinic/create']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add a clinic"><i class="fa fa-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div *ngIf="taskList.clinic != null">
            <h1>{{taskList.clinic.name}}</h1>
        </div>
    </div>
</div>
