.container {
    margin-top: 20px;
}
#clinic-select {
    margin-top: 30px;
}
#staff-select {
    height: 500px;
    overflow-y: scroll;
}
#staff-ok-button {
    display: block;
}
.heading-spacer {
    margin-top: 50px;
}