<div class="container">
    <div *ngIf="clinic == null" class="form-group form-inline">
        <label>Clinic: </label>
        <select class="form-control" [(ngModel)]="clinic">
            <option [ngValue]="null" selected>Please Select a Clinic</option>
            <option *ngFor="let c of clinics; trackBy: trackByFn" [ngValue]="c">{{c.name}}</option>
        </select>
    </div>
    <div *ngIf="clinic != null">
        <h1>{{clinic.name}}</h1>
    </div>
    <div class="heading-spacer"></div>
    <div *ngIf="staffCount >= 1" class="col-sm-3">
        <h2 class="text-center">
            <span *ngIf="staffCount > 1" (click)="removeStaffMember()" class="pull-left">-</span>
            MA1<span *ngIf="staffCount == 1">/MA2</span>
        </h2>
        <div class="well">
        </div>
    </div>
    <div *ngIf="staffCount >= 2" class="col-sm-3">
        <h2 class="text-center">MA2</h2>
        <div class="well">
        </div>
    </div> 
    <div *ngIf="staffCount == 4" class="col-sm-3">
        <h2 class="text-center">MA3</h2>
        <div class="well">
        </div>
    </div>
    <div *ngIf="staffCount >= 3" class="col-sm-3">
        <h2 class="text-center">Front Desk</h2>
        <div class="well">
        </div>
    </div>
    <div *ngIf="staffCount < 4" class="col-sm-3">
        <h2 (click)="addStaffMember()">+</h2>
    </div>
</div>