<template #createModal let-c="close">
    <div class="modal-header">
        <span class="pull-right">
            <a class="glyphicon glyphicon-remove" (click)="c()"></a>
        </span>
        <h2>{{create.title}}</h2>
    </div>
    <div class="modal-body">
        <ms-create-ticket #create (submit)="c(); getTickets()"></ms-create-ticket>
    </div>
</template>
<div class="container-fluid">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>
            </tr>
        </thead>    
    </table>
</div>