<div [hidden]="!submitted || submitted && successful" id="submitErrorAlert" class="alert alert-danger fadeIn text-cener">
    There was an error submitting this ticket. Unable to submit tickets at this time
</div>  
<form (ngSubmit)="onSubmit()" #ticketCreateForm="ngForm">
    <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" required auto-complete [(ngModel)]="model.user" [source]="users" display-property-name="fullName" name="user">
    </div>
    <div class="form-group">
        <label for="nextStop">Next Stop User</label>
        <input type="text" class="form-control" required auto-complete [(ngModel)]="model.nextStop" [source]="users" display-property-name="fullName" name="nextStop">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #title=ngModel>
        <div [hidden]="title.untouched || title.valid" class="alert alert-danger">
            A title for this ticket is required
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" required [(ngModel)]="model.description" name="description" #description=ngModel></textarea>
        <div [hidden]="description.untouched || description.valid" class="alert alert-danger">
            A description for this ticket is required
        </div>
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!ticketCreateForm.form.valid">Submit</button>
    <button class="btn btn-primary pull-right" (click)="deleteTicket()">Delete</button>
</form>