<div *ngIf="clinic != null">
  <div class="row text-center">
    <h3>Today is {{dailyTasks?.date.toDateString()}}</h3>
  </div>
  <div *ngIf="!dailyTasks.started">
    <div class="container">
      <div class="row">
        <h4>Please select a staff number to start the day</h4>
        <ul class="nav nav-pills nav-justified text-center">
          <li (click)="dailyTasks.staffCount = 1" [class.active]="dailyTasks.staffCount === 1"><a>1</a></li>
          <li (click)="dailyTasks.staffCount = 2" [class.active]="dailyTasks.staffCount === 2"><a>2</a></li>
          <li (click)="dailyTasks.staffCount = 3" [class.active]="dailyTasks.staffCount === 3"><a>3</a></li>
          <li (click)="dailyTasks.staffCount = 4" [class.active]="dailyTasks.staffCount === 4"><a>4</a></li>
        </ul>
      </div>
      <div class="row">
        <h4>Please name each staff position</h4>
        <div *ngIf="dailyTasks.staffCount >= 1" class="col-sm-3 text-center">
          <label>MA1<span *ngIf="dailyTasks.staffCount == 1">/MA2</span></label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma1" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount >= 2" class="col-sm-3 text-center">
          <label>MA2</label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma2" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount >= 3" class="col-sm-3 text-center">
          <label>Front Desk</label><br>
          <input type="text" [(ngModel)]="dailyTasks.frontDesk" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount === 4" class="col-sm-3 text-center">
          <label>MA3</label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma3" autocomplete="off">
        </div>
      </div>
      <div class="row text-right">
        <button class="btn btn-default" (click)="startDay()">Start Day</button>
      </div>
    </div>
  </div>
  <div *ngIf="dailyTasks.started">
    <table class="table table-bordered table-condensed">
      <colgroup>
        <col>
        <col style="background-color: #EAE2BD">
        <col style="background-color: #CFCFCF" span="2">
        <col style="background-color: #EAE2BD" span="3">
        <col style="background-color: #CFCFCF" span="4">
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
            <th></th>
            <th nowrap="nowrap">1 Staff</th>
            <th nowrap="nowrap" colspan="2">2 Staff</th>
            <th nowrap="nowrap" colspan="3">3 Staff</th>
            <th nowrap="nowrap" colspan="4">4 Staff</th>
            <th>{{dailyTasks.frontDesk}}</th>
            <th>{{dailyTasks.ma1}}</th>
            <th>{{dailyTasks.ma2}}</th>
            <th>{{dailyTasks.ma3}}</th>
        </tr>
        <tr>
            <th></th>
            <!-- 1 Staff -->
            <th>MA1</th>
            <!-- 2 Staff -->
            <th>MA1</th>
            <th>MA2</th>
            <!-- 3 Staff -->
            <th>MA1</th>
            <th>MA2</th>
            <th>MA3</th>
            <!-- 4 Staff -->
            <th>MA1</th>
            <th>MA2</th>
            <th>MA3</th>
            <th>Front Desk</th>
            <th>Front Desk</th>
            <th>MA1</th>
            <th>MA2</th>
            <th>MA3</th>
        </tr>
      </thead>

    </table>
  </div>
</div>
