<div class="container">
  <div *ngIf="clinic === null">
    <div class="col-xs-7 col-xs-offset-3 form-group">
      <label>Please select a clinic</label>
      <select class="form-control" (change)="clinicSelected($event)">
        <option [ngValue]="null" selected></option>
        <option *ngFor="let c of clinics; trackBy: trackByFn">{{c.name}}</option>
      </select>
    </div>
    <!--
    <div class="col-xs-2">
      <a [routerLink]="['/clinic/create']" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add a clinic"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    -->
  </div>
  <div *ngIf="clinic != null">
    <div class="row text-center">
      <h3>Today is {{dailyTasks?.date.toDateString()}}</h3>
    </div>
    <div *ngIf="!dailyTasks.started">
      <div class="row">
        <h4>Please select a staff number to start the day</h4>
        <ul class="nav nav-pills nav-justified text-center">
          <li (click)="dailyTasks.staffCount = 1" [class.active]="dailyTasks.staffCount === 1"><a>1</a></li>
          <li (click)="dailyTasks.staffCount = 2" [class.active]="dailyTasks.staffCount === 2"><a>2</a></li>
          <li (click)="dailyTasks.staffCount = 3" [class.active]="dailyTasks.staffCount === 3"><a>3</a></li>
          <li (click)="dailyTasks.staffCount = 4" [class.active]="dailyTasks.staffCount === 4"><a>4</a></li>
        </ul>
      </div>
      <div class="row">
        <h4>Please name each staff position</h4>
        <div *ngIf="dailyTasks.staffCount >= 1" class="col-sm-3 text-center">
          <label>MA1<span *ngIf="dailyTasks.staffCount == 1">/MA2</span></label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma1" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount >= 2" class="col-sm-3 text-center">
          <label>MA2</label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma2" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount >= 3" class="col-sm-3 text-center">
          <label>Front Desk</label><br>
          <input type="text" [(ngModel)]="dailyTasks.frontDesk" autocomplete="off">
        </div>
        <div *ngIf="dailyTasks.staffCount === 4" class="col-sm-3 text-center">
          <label>MA3</label><br>
          <input type="text" [(ngModel)]="dailyTasks.ma3" autocomplete="off">
        </div>
      </div>
      <div class="row text-right">
        <button class="btn btn-default" (click)="startDay()">Start Day</button>
      </div>
    </div>
    <div *ngIf="dailyTasks.started">
      <h1>Started day!</h1>
    </div>
  </div>
</div>
