<div class="container" id="home-container">
  <div class="row">
    <div class="col-sm-4 text-center" (click)="routeTo('/dailyTasks')">
      <div class="home-icon-container">
        <i class="fa fa-check home-icon" aria-hidden="true"></i>
        <br>
        Tasks
      </div>
    </div>
    <div class="col-sm-4 text-center" (click)="routeTo('/inventory/list')">
      <div class="home-icon-container">
        <i class="fa fa-list home-icon" aria-hidden="true"></i>
        <br>
        Inventory
      </div>
    </div>
    <div class="col-sm-4 text-center" (click)="routeTo('/ticket/list')">
      <div class="home-icon-container">
        <i class="fa fa-ticket home-icon" aria-hidden="true"></i>
        <br>
        Tickets
      </div>
    </div>
  </div>
</div>
